Chapter04/English.pkl
Chapter04/French.pkl
Chapter04/english_vocab.pkl
Chapter04/french_vocab.pkl

content/

Chapter05/in_domain_train.tsv
Chapter05/out_of_domain_dev.tsv
Chapter05/cola_public/
Chapter05/cola_public_1.1.zip
Chapter05/model_save/

Chapter06/KantaiBERT/
Chapter06/kant.txt
Chapter06/CustomerSupportOnTwitter.zip
Chapter06/CustomerSupportOnTwitter/
Chapter06/tweets.csv
Chapter06/twitter/


Chapter08/OpenAI_Fine_Tuning_2024-03-22_18-34.png
Chapter08/OpenAI_Fine_Tuning_2024-03-22_18-55.png
Chapter08/gutenberg.org_cache_epub_4280_pg4280.html
Chapter08/kant_prompts_and_completions.json
Chapter08/kant_prompts_and_completions_prepared.jsonl

Chapter10/large_corpus.txt
Chapter10/m.model
Chapter10/m.vocab

