Chapter04/English.pkl
Chapter04/French.pkl
Chapter04/english_vocab.pkl
Chapter04/french_vocab.pkl

content/

Chapter05/in_domain_train.tsv
Chapter05/out_of_domain_dev.tsv

Chapter06/KantaiBERT/
Chapter06/kant.txt